<!DOCTYPE html>
{% load static  %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel = "stylesheet" href = "core/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lemon&display=swap">
  <style>
    .lemon-font {
      font-family: 'Lemon', cursive;
    }
  </style>
  <title>{% block title %}Details{% endblock %}</title>
 
</head>

  <body style ="background-color:#f5f5dc">

  <div class="container mx-auto p-8">

    <nav style ="background-color:#94f8be; border-radius: 10px;" class="py-6 px-8 flex justify-center items-center border-b border-black-800">
      <a href="/" class="flex items-center">
      <img src="file:///C:/Users/Lenovo/Downloads/glass1.png" class="mr-2" alt="Glass Icon" width="57" height="57">
      <span class="text-5xl font-semibold text-teal-500 text-white  hover:text-teal-300 transition lemon-font">Details</span>
      </a>
  </nav>
</div>

  <div class="px-8 py-6">
    {% block content %}
    
      <div class="container mx-auto p-8 bg-white shadow-md rounded-lg mb-8">
        <div class="flex items-center justify-between">
          <div class="w-1/2">
            {% if item.image_url %}
              <img src="{{ item.image_url }}" alt="{{ item.main_category_en }}" class="rounded-t-xl w-64 h-48 object-cover hover:opacity-80 transition">
              <p class="mt-2 text-sm text-gray-600">{{ item.main_category_en }}</p>
            {% endif %}
          </div>
          <div class="w-2/3 ml-4">
            <p class="text-lg font-bold text-teal-500 mb-2">{{ item.product_name }}</p>
            <p><strong>Quantity:</strong> {{ item.quantity }}</p>
            <p><strong>prodcut name:</strong> {{ item.product_name }}</p>
            <p><strong>Label:</strong> {{ item.labels_en }}</p>
            <p><strong>Country:</strong> {{ item.countries_en }}</p>
            <p class="text-gray-800"><strong>brand:</strong> {{ item.brand }}</p>
            <p class="text-gray-800"><strong>serving size:</strong> {{ item.brand }}</p>
          </div>
        </div>
      </div>

      <div class="container mx-auto p-8 bg-white shadow-md rounded-lg">
        <div class="flex items-center justify-between">
          <div class="w-1/2">
            <h1 class="text-2xl font-bold mb-4">nutrational score</h1>

            <p class="text-gray-800"><strong>Ingredients:</strong> {{ item.ingredients_text }}</p>
            <h1 class="text-xl font-bold mb-4">postive points{{ total_positive_points }}</h1>
            <p class="text-1xl  mb-4">fiber:{{fiber_positive }}(out of 5)</p>
            <p class="text-1xl  mb-4">protein:{{protein_positive }}(out of 5)</p>
            <p class="text-1xl  mb-4">fruits_vegetables_positive:{{fruits_vegetables_positive }}(out of 5)</p>
            <h1 class="text-2xl  mb-4"><strong>negative points{{total_negative_points }}</strong></h1>
            <p  class="text-1xl  mb-4"> energy: {{energy_negative }}(out of 10)</p>
            <p class="text-1xl mb-4">suger: {{sugars_negative }}(out of 10)</p>
            <p class="text-1xl mb-4">saturated_fats: {{saturated_fats_negative }}(out of 10)</p>
            <p class="text-1xl  mb-4">salt: {{salt_negative }}(out of 10)</p>
            <p class="text-gray-800">
              <strong>nutro_score:</strong>"total_negative_points "-" total_positive_points" = {{ nutro_score }}
            </p>
                {% if nutro_score < 0 %}
                    A
                {% elif nutro_score <= 2 %}
                    B
                {% elif nutro_score <= 10 %}
                    C
                {% elif nutro_score <= 18 %}
                    D
                   <img src="{% static 'images/D.jpg' %}" class="rounded-t-xl w-64 h-48">

                  
                {% else %}
                    E
                {% endif %}


          </div>
          <div class="w-1/2 ml-8">
            <p class="text-gray-800">{{ item.nutrition_description }}</p>
          </div>
        </div>
      </div>

      <div class="mb-8"> </div>
 <div class="container mx-auto p-8 bg-white shadow-md rounded-lg">
      <div class="flex items-center justify-between">
          <div class="w-1/2">
            <h1 class="text-2xl font-bold mb-4">enviromental score </h1>
               
              
            <p class="text-gray-800"><strong>Packaging:</strong> {{ item.packaging_en }}</p>
          
        </div>
          <div class="w-1/2 ml-8">
            <p class="text-gray-800">{{ item.environment_description }}</p>
            <p class="text-gray-800">{{ item.package1 }}</p>
            {% if package1 %}
                <p>Material: {{ package1.0 }}</p>
                <p>Type: {{package1.1 }}</p>
                <p>Category: {{ package1.2 }}</p>
                <p>Eco Score: {{ package1.3 }}</p>
                <p>Grade: {{ package1.4 }}</p>
        {% else %}
            <p>Unknown Material</p>
        {% endif %}
          </div>
        </div>

          </div>
        
          <div class="w-1/2 ml-8">
            <p class="text-gray-800">{{ item.environment_description }}</p>
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
  <script src = "core/bootstrap.min.js"></script> 
</body>
</html>
